@import "./mixin";
$primaryColor: #ffffff;
$secondaryColor: #031412;

.section {
  @include container;
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 74.9%;
    text-align: center;
    color: $secondaryColor;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  &__menu1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
  }
  &__block-text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 96.4%;
    text-align: center;
    color: $secondaryColor;
    transform: translate(-20px, -80px);
  }

  &__block-img--modifier {
    box-shadow: 0 0 1px #adadad;
  }
  &__block1--modifier {
    position: relative;
  }
  &__block1-persent1 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 96.4%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 40px;
    left: 50px;
  }
  &__block1-persent2 {
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 96.4%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 130px;
    left: 120px;
  }
  &__block1-persent3 {
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 96.4%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 260px;
    left: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .section {
    @include container;
    max-width: 960px;
    &__title {
      font-size: 40px;
    }
    &__block-img {
      width: 278px;
      height: 300px;
    }
    &__block-text {
      font-size: 20px;
      transform: translate(-15px, -50px);
    }
   
    &__block1-persent1 {
      font-size: 30px;
    }
    &__block1-persent2 {
      font-size: 40px;
      top: 100px;
      left: 100px;
    }
    &__block1-persent3 {
      font-size: 50px;
      top: 180px;
      left: 30px;
    }
  }
}
@media only screen and (max-width: 576px) {
  .section {
    @include container;
    max-width: 575px;
    &__menu1 {
      display: grid;
      grid-template-columns: auto auto ;
      justify-content: space-between;
      gap: 15px
      ;
    }
    &__title {
      font-size: 24px;
    }
    &__block-img {
      width: 250px;
      height: 200px;
    }
    &__block-text {
      font-size: 12px;
      transform: translate(-15px, -30px);
    }
   
    &__block1-persent1 {
      font-size: 14px;
      top: 20px;
      left: 50px;
    }
    &__block1-persent2 {
      font-size: 24px;
      top: 80px;
      left: 100px;
    }
    &__block1-persent3 {
      font-size: 34px;
      top: 120px;
      left: 50px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  &__arrow {
    padding: 11px 30px 11px 40px;
    background-color: $secondaryColor;

    &-right {
      transform: rotate(180deg);
    }
  }
  &__arrow:hover {
    background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  }

  &__one {
    @include container;
  }
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 74.9%;
    text-align: center;
    margin-bottom: 40px;
    color: $secondaryColor;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }
  &__block {
    position: relative;
    .menu__one-heart {
      position: absolute;
      padding: 21px 11px 18px 11px;
      background-color: $primaryColor;
      right: 0px;
    }
    .menu__sale {
      position: absolute;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 96.4%;
      text-align: center;
      text-transform: uppercase;
      padding: 8px 17px;
      background: #9b0000;
      color: $primaryColor;
      top: 20px;
    }
    .menu__one-heart:hover {
      color: linear-gradient(92.16deg, #5e3928 21.33%, #e4a16f 93.02%);
      background: linear-gradient(92.16deg, #5e3928 21.33%, #e4a16f 93.02%);
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 96.4%;
        color: $secondaryColor;
      }
      &-price {
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 96.4%;
        color: $secondaryColor;
      }
      &-price--modifier {
        color: #9b0000;
      }
    }
  }

  &__rectangles {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 42px;
    margin-top: 47px;
    .menu__rectangle {
      width: 12px;
      height: 12px;
      background-color: $secondaryColor;
      cursor: pointer;
    }
    .menu__rectangle:hover {
      background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
    }
  }
  &__one-btn {
    @include button(16px, 76px, 17px, 78px);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 96.4%;
    text-align: center;
    color: $primaryColor;
    margin-bottom: 160px;
  }
}

@media only screen and (max-width: 992px) {
  .menu__arrow {
    padding: 0;
    .menu__arrow-left,
    .menu__arrow-right {
      width: 0;
      height: 0;
    }
    &__title{
      font-size: 40px;
    }
  }
  .menu__wrap {
    gap: 21px;
    justify-content: space-between;
  }
  .menu__block--modifier{
    display: none;
  }
.menu__block-bottom{
  column-gap: 20px;
  align-items: center;
  &-text{
    font-weight: 500;
  }
  &-price{
    font-size: 25px;
  }
}

  .menu__one {
    @include container;
    max-width: 960px;
  }
  .menu__block-img {
    width: 290px;
    height: 300px;
  }
  .menu__sale {
    top: 0px !important;
  }
}
@media only screen and (max-width: 576px) {
  .menu__arrow {
    padding: 0;
    .menu__arrow-left,
    .menu__arrow-right {
      width: 0;
      height: 0;
    }
    &__title{
      font-size: 24px;
    }
  }
  .menu__wrap {
    justify-content: center;
  }
  .menu__block--modifier, .menu__block--mobilemodifier{
    display: none;
  }
.menu__block-bottom{
  column-gap: 20px;
  align-items: center;
  &-text{
    font-weight: 500;
  }
  &-price{
    font-size: 25px;
  }
}

  .menu__one {
    @include container;
    max-width: 960px;
  }
  .menu__block-img {
    width: 290px;
    height: 300px;
  }
  .menu__sale {
    top: 0px !important;
  }
}






.bgimgwrapper {
  position: relative;
  background-image: url(../Images/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 80px;
  .bgwrapper__copper {
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 74.9%;
    text-align: right;
    right: 0px;
    bottom: -8px;
    color: $primaryColor;
    position: absolute;
    z-index: 1;
  }
  .bgimg {
    position: absolute;
    background-image: url(../Images/1+1-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    top: 0px;
    width: 100%;
    height: 480px;
  }
}
.wrapper {
  display: flex;
  column-gap: 100px;
  z-index: 1;
  @include container;
  &__title {
    font-weight: 400;
    font-size: 140px;
    line-height: 74.9%;
    color: $primaryColor;
    padding-top: 80px;
    margin-bottom: 50px;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 96.4%;
    color: $primaryColor;
    margin-bottom: 50px;
  }
  &__btn {
    @include button(16px, 76px, 17px, 78px);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 96.4%;
    text-align: center;
    color: $primaryColor;
    margin-bottom: 80px;
  }
  &__right-img {
    margin-top: 20px;
    position: relative;
  }
  &__img {
    position: absolute;
    z-index: 2;
    bottom: 95px;
    left: 30px;
  }
  &__img-bottom {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: -30px;
  }
}


@media only screen and (max-width: 992px) {
  
  .wrapper {
    @include container;
    max-width: 960px;
    column-gap: 0px;
  }
  .bgimgwrapper {
    background-position: right;
  }
.bgimg{
  display: none;
}
}

@media only screen and (max-width: 576px) {
  
  .wrapper {
    @include container;
    max-width: 575px;
  column-gap: 0px;
  display: block;
&__btn{
  margin-bottom: 50px;
}
&__title{
  font-size: 60px;
}
&__subtitle{
  font-size: 14px;
}
&__right-img{
  text-align: center;
}
&__img{
  position: sticky;
  margin-bottom: 90px;
}
&__img-bottom{
  // position: sticky;
  bottom: 0px;
  left: 90px;
}
  }
  .bgimgwrapper {
    background-position: right;
  }
.bgimg{
  display: none;
}
}




.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__arrow-right {
    padding: 11px 30px 11px 40px;
    border: 1px solid $secondaryColor;
    cursor: pointer;
  }
  &__arrow-left {
    cursor: pointer;
    padding: 11px 30px 11px 40px;
    border: 1px solid $secondaryColor;
    transform: rotate(180deg);
  }
  .arrow:hover {
    background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    border: 1px solid white;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 63px;
  }
  &__block-title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 74.9%;
    text-align: center;
    color: $secondaryColor;
    margin-bottom: 40px;
  }
  &__wrapper {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    padding: 20px;
    &-name {
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 96.4%;
      color: $secondaryColor;
      margin: 18px 0;
    }
    &-text {
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 134.4%;
      color: $secondaryColor;
      margin-bottom: 18px;
    }
    &-date {
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 134.4%;
      color: $secondaryColor;
    }
  }
  &__rectangles {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 42px;
    margin-bottom: 100px;
  }
  &__rectangle {
    width: 12px;
    height: 12px;
    background-color: $secondaryColor;
    cursor: pointer;
  }
  &__rectangle:hover {
    background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
  }
}



@media only screen and (max-width: 992px) {
.article{
  @include container;
    max-width: 960px;
  &__block-title{
    font-size: 40px;
  }
  &__wrapper--modifier {
    display: none;
  }
  &__wrap {
    gap: 21px;
    justify-content: space-between;
  }
}

  .arrow{
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .article{
    @include container;
    max-width: 575px;
    &__block-title{
      font-size: 24px;
    }
    &__wrapper--modifier, &__wrapper--mobilemodifier {
      display: none;
    }
    &__wrap {
      gap: 21px;
      justify-content: space-between;
    }
  }
  
    .arrow{
      display: none;
    }
  
  }





.figcaption {
  @include container;
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 74.9%;
    text-align: center;
    color: $secondaryColor;
    margin-bottom: 50px;
  }
}
.figcaption__wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 34px;
  column-gap: 24px;
  margin-bottom: 100px;
  .figcaption__wrap-img {
    padding: 18px;
    background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
    margin-bottom: 24px;
  }
  .figcaption__wrap-heading {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 96.4%;
    color: $secondaryColor;
    margin-bottom: 15px;
  }
  .figcaption__wrap-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.4%;
    color: $secondaryColor;
    margin-bottom: 15px;
  }
  .figcaption__wrap-bottom {
    display: flex;
    align-items: center;
    &-read {
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 134.4%;
      background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-right: 7px;
    }
  }
}
@media only screen and (max-width: 992px) {

  .figcaption {
    @include container;
    max-width: 960px;
    &__title{
      font-size: 40px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: auto auto ;
      column-gap: 50px;
      // text-align: center;
    }
  }
 
}
@media only screen and (max-width: 576px) {

  .figcaption {
    @include container;
    max-width: 575px;
    &__title{
      font-size: 24px;
    }
    &__wrap-heading{
      font-size: 16px;
    }
    &__wrap-text{
      font-size: 12px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: auto auto ;
      column-gap: 30px;
      // text-align: center;
    }
  }
 
}